.footer {
  height: 20rem;
  width: 100vw;
  background-color: $color-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;

  img {
    height: auto;
    width: 6rem;
  }

  h1 {
    margin-top: 3rem;
    color: $color-white;
  }
}
