.benefits {
  height: min-content;
  width: 100vw;
  background-color: $color-grey;
  padding: 7rem 0;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  h1 {
    font-size: 3.7rem;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  #three,
  #programming-img {
    z-index: 1;
    height: auto;
    position: absolute;
  }

  #programming-img {
    left: 2rem;
    bottom: -1rem;
    width: 45rem;

    @include respond(tab-land-small) {
      width: 40rem;
      left: 1rem;
    }

    @include respond(tab-port) {
      left: 0;
      width: 35rem;
    }

    @include respond(tab-port-small) {
      left: -1rem;
      width: 30rem;
    }
  }

  #three {
    bottom: 17rem;
    right: 6rem;
    width: 35rem;

    @include respond(tab-land-small) {
      right: 3rem;
    }

    @include respond(tab-port) {
      right: 1rem;
      width: 30rem;
    }

    @include respond(tab-port-small) {
      right: 2rem;
      width: 20rem;
    }
  }

  &__container {
    z-index: 10;
    width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;

    &--card {
      width: 60%;
      background-color: $color-white;
      border-radius: 1rem;
      padding: 2rem;
      box-shadow: 2px 3px 10px rgba(#000000, 16%);

      h3 {
        font-size: 1.8rem;
        font-weight: 600;
        color: $color-grey-black;
      }

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      &:last-child {
        margin-bottom: 4rem;
      }
    }
  }
}
