.guarantee {
  height: 20rem;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $color-grey;
  
  h1 {
    color: $color-grey-darkest;
    font-size: 3rem;
    font-weight: 700;
  }
}