.credibility {
  height: 15rem;
  width: 100vw;
  background-color: $color-grey;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  @include respond(average-phone) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem 0;
    height: auto;
  }

  h1 {
    font-size: 3.4rem;
    font-weight: 600;
    color: $color-grey-darkest;
    margin: 0 5rem;

    @include respond(tab-port) {
      font-size: 3rem;
    }

    @include respond(tab-port-to-small) {
      margin: 0 3rem;
    }

    @include respond(large-phone) {
      font-size: 2.8rem;
      margin: 0 2rem;
    }

    @include respond(medium-phone) {
      font-size: 2.5rem;
      margin: 0 2rem;
    }
    @include respond(average-phone) {
      font-size: 3rem;
      margin: 2rem 0;
    }
  }
}