.header-homepage {
  position: relative;
  z-index: 1;

  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to bottom, rgba($color-black, 0.8), rgba($color-black, 0.8)),
    url("/homepage-header.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img {
      height: auto;
      width: 12rem;
    }

    h1 {
      margin: 8rem 0 9rem 0;
      font-size: 3.7rem;
      color: $color-white;
    }
  }
}
