.plans {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100vw;
  padding: 7rem 0;

  .title {
    font-size: 3.7rem;
    font-weight: 600;

    @include respond(average-phone) {
      margin: 0 5rem;
    }
  }

  .subtitle {
    font-size: 2.2rem;
    padding-top: 4rem;

    @include respond(average-phone) {
      font-size: 2.5rem;
    }
  }

  &__dev-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 3rem;

    h3 {
      color: $color-blue-dark;
      font-size: 2rem;
      font-style: bold;
      font-weight: 600;
    }
  }

  &__price-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2rem;

    @include respond(medium-phone) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .card {
      width: 30rem;
      height: 45rem;
      -webkit-box-shadow: 2px 3px 10px rgba(#000000, 16%);
      box-shadow: 2px 3px 10px rgba(#000000, 16%);
      border-radius: 1.5rem;

      display: -ms-grid;

      display: grid;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: 30rem 15rem;
      grid-template-rows: 30rem 15rem;
      overflow: hidden;
      grid-column-gap: 0;

      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);

      @include respond(medium-phone) {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }

      @include respond(large-phone) {
        margin-bottom: 10rem;
      }

      @include respond(medium-phone) {
        margin-bottom: 0;
      }

      &:first-child {
        @include respond(medium-phone) {
          margin-top: 5rem;
        }
      }
      &:not(:nth-child(2)) {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);

        @include respond(medium-phone) {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
        }
      }

      &:nth-child(2) {
        height: 53rem;
        -ms-grid-rows: 3rem 30rem 5rem 15rem;
        grid-template-rows: 3rem 30rem 5rem 15rem;

        .card-1 {
          height: 100%;
          overflow: hidden;
          border-right: 0.3rem solid $color-blue;
          border-left: 0.3rem solid $color-blue;
        }

        .card-2 {
          height: 100%;
          overflow: hidden;
          border-bottom: 0.3rem solid $color-blue;
          border-right: 0.3rem solid $color-blue;
          border-left: 0.3rem solid $color-blue;
          border-bottom-left-radius: 1.5rem;
          border-bottom-right-radius: 1.5rem;
        }

        .title {
          &:first-child {
            margin-top: 4rem;
          }
        }

        .card--save {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $color-green;
          border-right: 0.3rem solid $color-blue;
          border-left: 0.3rem solid $color-blue;

          h3 {
            font-size: 2rem;
            color: $color-white;
            font-weight: 600;
          }
        }

        .card--recommended {
          display: flex;
          justify-content: center;
          align-items: center;

          h3 {
            font-size: 1.5rem;
            color: $color-white;
            font-weight: 600;
          }
        }
      }

      &:not(:last-child) {
        margin-right: 3rem;

        @include respond(large-phone) {
          margin-right: 0;
        }

        @include respond(medium-phone) {
          margin-bottom: 10rem;
        }
      }

      &-2 {
        background-color: $color-grey;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        h2 {
          font-size: 3rem;
          font-weight: 600;
          color: $color-black;
          margin-bottom: 1.5rem;

          span {
            font-size: 2rem;
            color: $color-black;
            margin-left: 0.5rem;
          }
        }
      }

      .title {
        font-size: 2.5rem;
        font-weight: 600;
        color: $color-blue;

        &:first-child {
          margin-top: 4rem;
        }
      }

      ul {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding-top: 5rem;
        padding-left: 5.5rem;

        @include respond(tab-port-small) {
          padding-left: 3rem;
        }

        li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;

          svg {
            height: 2rem;
            width: 2rem;
            margin-top: 0.2rem;
            color: $color-green;
          }

          h4 {
            font-size: 1.8rem;
            font-weight: 300;
            text-align: left;
            margin-left: 1rem;

            @include respond(tab-port-small) {
              font-size: 1.8rem;
            }
          }

          &:not(:last-child) {
            margin-bottom: 1rem;
          }
        }
      }

      &--recommended {
        width: 100%;
        background-color: $color-blue;
      }
    }

    .card > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }

    .card > *:nth-child(2) {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
    }
  }
}

.counter {
  font-size: 4rem;
  font-weight: 600;
  color: $color-blue-dark;
}

#slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30rem;
  height: 1rem;
  outline: none;
  border-radius: 5rem;
  background-color: $color-grey;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  margin: 0 2rem;

  &:hover {
    opacity: 1;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: $color-white;
    border: 0.3rem solid $color-blue;
    border-radius: 5rem;
    cursor: pointer;
  }
}
