.blogArticlePage {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background-color: $color-grey;
  display: flex;
  justify-content: center;
  padding: 8rem 0;

  &__content {
    width: 80rem;

    img {
      width: 100%;

      &:not(:first-child),
      &:not(:last-child) {
        margin: 2rem 0;
      }
    }
  }

  &__headline {
    h1 {
      width: 50rem;
      font-size: 7rem;
      text-align: left;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      color: $color-grey-darkest;
      text-align: left;
      margin-bottom: 6rem;
    }
  }

  &__text {
    .bold {
      font-weight: 600;
    }

    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 2rem;
      font-weight: 300;
      text-align: justify;
      
      &:not(:last-child) {
        margin: 2rem 0;
      }

      &:last-child {
        margin-top: 2rem;
      }
    }
  }
}