#contactus {
  height: auto;
  width: 100vw;
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 3.7rem;
    font-weight: 600;
  }

  &__container {
    height: auto;
    width: min-content;

    display: grid;
    grid-template-columns: 50rem 50rem;
    grid-template-rows: 1fr;
    column-gap: 10rem;

    justify-content: center;
    align-items: center;
    margin-top: 7rem;

    &--form {
      display: flex;
      flex-direction: column;
      align-items: center;

      form {
        width: 40rem;
        display: flex;
        flex-direction: column;
      }

      textarea,
      input {
        border: none;
        resize: none;
        font-family: "Open Sans";
        font-size: 1.5rem;
        font-weight: 600;
        border-radius: 1rem;
        padding: 2rem;
        background-color: $color-grey;
        outline: none;
      }

      input {
        margin-bottom: 2rem;

        &:last-child {
          margin-bottom: 4rem;
        }
      }

      textarea {
        height: 15rem;
        margin-bottom: 2rem;
      }
    }

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      ul {
        li {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          &:not(:last-child) {
            margin-bottom: 1rem;
          }

          h3 {
            font-size: 2.5rem;
            margin-left: 1rem;
            font-weight: 600;
          }

          svg {
            height: 2rem;
            width: 2rem;
            color: $color-green;
          }
        }
      }

      &-1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 5rem;

        h3 {
          font-size: 3rem;
          font-weight: 600;
        }

        h4 {
          font-size: 2rem;
          font-weight: 300;
        } 

        svg {
          height: 8rem;
          width: 8rem;
          color: $color-blue;
        }
      }
    }
  }
}
