#contactus {
  height: auto;
  width: 100vw;
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 3.7rem;
    font-weight: 600;

    @include respond(average-phone) {
      margin: 0 8rem;
    }
  }

  &__container {
    height: auto;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;

    display: grid;
    display: -ms-grid;

    -ms-grid-columns: 50rem 10rem 50rem;
    grid-template-columns: 50rem 50rem;

    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -moz-column-gap: 10rem;
    column-gap: 10rem;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;

    @include respond(tab-land-small) {
      -moz-column-gap: 8rem;
      column-gap: 8rem;
    }

    @include respond(tab-port) {
      -moz-column-gap: 4rem;
      column-gap: 4rem;
    }

    @include respond(tab-port-to-small) {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: auto;
      grid-template-rows: auto;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -moz-column-gap: 0;
      -webkit-column-gap: 0;
      column-gap: 0;
      row-gap: 4rem;

      &__container > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
      }
    }

    @include respond(medium-phone) {
      width: 100vw;
    }

    &--form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;

      flex-direction: column;
      align-items: center;

      -webkit-box-align: center;
      -ms-flex-align: center;

      form {
        width: 40rem;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }

      textarea,
      input {
        width: 100%;
        border: none;
        resize: none;
        font-family: "Open Sans";
        font-size: 1.5rem;
        font-weight: 600;
        border-radius: 1rem;
        padding: 2rem;
        background-color: $color-grey;
        outline: none;
      }

      input {
        margin-bottom: 2rem;

        &:last-child {
          margin-bottom: 4rem;
        }
      }

      textarea {
        height: 15rem;
        margin-bottom: 2rem;
      }
    }

    &--text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;

      -webkit-box-pack: start;
      -ms-flex-pack: start;
      flex-direction: column;

      -webkit-box-align: start;
      -ms-flex-align: start;
      justify-content: flex-start;
      align-items: flex-start;

      @include respond(tab-port-to-small) {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }

      ul {
        li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;

          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;

          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          &:not(:last-child) {
            margin-bottom: 1rem;
          }

          h3 {
            font-size: 2.5rem;
            margin-left: 1rem;
            font-weight: 600;
            text-align: left;
          }

          svg {
            height: 2rem;
            width: 2rem;
            color: $color-green;
          }
        }
      }

      &-1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin-top: 5rem;

        @include respond(tab-port-to-small) {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
        }

        h3 {
          font-size: 3rem;
          font-weight: 600;
        }

        h4 {
          font-size: 2rem;
          font-weight: 300;
        }

        svg {
          height: 6rem;
          width: 6rem;
          color: $color-blue;
        }
      }
    }
  }

  &__container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1
  }

  &__container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3
  }
}

#contactus-page {
  height: 100vh;
  width: 100vw;
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond(tab-port-to-small) {
    padding-top: 15rem;
  }

  @include respond(average-phone) {
    height: 90vh;
  }

  .title {
    font-size: 3.7rem;
    font-weight: 600;

    @include respond(average-phone) {
      margin: 0 8rem;
    }
  }
}