// Open Sans Family
@font-face {
  font-family: 'Open Sans Bold';
  src: url('./tff/OpenSans/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans BoldItalic';
  src: url('./tff/OpenSans/OpenSans-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans ExtraBold';
  src: url('./tff/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans ExtraBoldItalic';
  src: url('./tff/OpenSans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Italic';
  src: url('./tff/OpenSans/OpenSans-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Light';
  src: url('./tff/OpenSans/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans LightItalic';
  src: url('./tff/OpenSans/OpenSans-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Regular';
  src: url('./tff/OpenSans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans SemiBold';
  src: url('./tff/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans SemiBoldItalic';
  src: url('./tff/OpenSans/OpenSans-SemiBoldItalic.ttf') format('truetype');
}

// Source Sans Family

@font-face {
  font-family: 'Source Sans Black';
  src: url('./tff/SourceSans/SourceSansPro-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans BlackItalic';
  src: url('./tff/SourceSans/SourceSansPro-BlackItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Bold';
  src: url('./tff/SourceSans/SourceSansPro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans BoldItalic';
  src: url('./tff/SourceSans/SourceSansPro-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans ExtraLight';
  src: url('./tff/SourceSans/SourceSansPro-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans ExtraLightItalic';
  src: url('./tff/SourceSans/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Italic';
  src: url('./tff/SourceSans/SourceSansPro-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Light';
  src: url('./tff/SourceSans/SourceSansPro-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans LightItalic';
  src: url('./tff/SourceSans/SourceSansPro-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Regular';
  src: url('./tff/SourceSans/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans SemiBoldItalic';
  src: url('./tff/SourceSans/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans SemiBold';
  src: url('./tff/SourceSans/SourceSansPro-SemiBold.ttf') format('truetype');
}