// CUSTOM INPUT

.text-input {
  border: none;
  background-color: $color-grey;
  font-family: "Source Sans Light", sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: $color-black;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;

  &--success,
  &--error {
    background-color: $color-grey;
    font-family: "Source Sans Light", sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
  }

  &--error {
    border: 1px solid $color-red;
    color: $color-red;
  }

  &--success {
    border: 1px solid $color-green;
    color: $color-green;
  }
}