*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px
  scroll-behavior: smooth;
  overflow-y: scroll;

  @include respond(tab-land-small) {
    font-size: 50%; // <-- problem
  }

  @include respond(tab-land) {
    font-size: 54%; // <-- problem
  }
  // funciona
  @include respond(normal-desktop) {
    font-size: 56.25%; // 9px
  }

  @include respond(medium-desktop) {
    font-size: 65.75%; // 
  }

  @include respond(medium-big-gap-desktop) {
    font-size: 68.75%; // 11px
  }

  @include respond(big-desktop) {
    font-size: 77%; // 12px
  }

  @include respond(full-hd) {
    font-size: 82%; // 12px
  }

  @include respond(huge-desktop) {
    font-size: 165%; // 12px
  }
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
button,
input {
  outline: none;
}

a,
button {
  cursor: pointer;
}
