*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px
  scroll-behavior: smooth;
  overflow-y: scroll;

  @include respond(medium-desktop) {
    font-size: 65.75%; // 
  }

  @include respond(medium-big-gap-desktop) {
    font-size: 68.75% !important; // 11px
  }

  @include respond(big-desktop) {
    font-size: 77% !important; // 12px
  }

  @include respond(full-hd) {
    font-size: 75% !important; // 12px
  }

  @include respond(huge-desktop) {
    font-size: 165% !important; // 
  }

  @include respond(normal-desktop) {
    font-size: 56.25%; // 9px
  }

  @include respond(tab-land) {
    font-size: 60%; // <-- problem
  }

  @include respond(tab-land-small) {
    font-size: 57.5%; // <-- problem
  }

  @include respond(tab-port) {
    font-size: 54%; // 
  }

  @include respond(tab-port-to-small) {
    font-size: 52%; // 
  }

  @include respond(tab-port-small) {
    font-size: 50%; // 
  }
  @include respond(large-phone) {
    font-size: 46%; // 
  }
  @include respond(medium-phone) {
    font-size: 43%; // 
  }
  @include respond(average-phone) {
    font-size: 40%; // 
  }
  @include respond(small-phone) {
    font-size: 37%; // 
  }
}

.main {
  position: relative;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
button,
input {
  outline: none;
}

a,
button {
  cursor: pointer;
}
