.adam {
  font-family: 'Adam', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: center;
  src: local('../fonts/Adam-Bold.ttf');
}

.blue-span {
  span {
    color: $color-blue;
  }
}