.open-sans {
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.open-sans-light {
  font-family: 'Open Sans Light', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.open-sans-semibold {
  font-family: 'Open Sans Semibold', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.open-sans-bold {
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.source-sans-semibold {
  font-family: "Source Sans SemiBold", sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.source-sans {
  font-family: "Source Sans Regular", sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.source-sans-bold {
  font-family: "Source Sans Bold", sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.source-sans-light {
  font-family: "Source Sans Light", sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.title-8 {
  font-size: 8.5rem;
}

.title-6 {
  font-size: 6.5rem;
}

.subtitle-2 {
  font-size: 2rem;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.blue-span {
  span {
    color: $color-blue;
  }
}