// Text Align

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

// Margin Bottom

.margin-bottom-8 {
  margin-bottom: 8rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}