$color-white: #ffffff;
$color-white-grey: #fafbfb;
$color-white-grey-light: #d8d8d8;;

$color-black-darkest: #000000;
$color-black: #07070a;
$color-black-lightest: #0d0d13;

$color-grey: #323248;
$color-grey-light: #9B9BB5;

$color-blue: #4a90e2;
$color-blue-light: #7DB3F1;
