$color-white: #ffffff;

$color-grey: #F5F2F2;
$color-grey-2: #e6e0e0;
$color-grey-3: #ccc3c3;
$color-grey-darkest: #BFBDBD;
$color-grey-black: #606060;

$color-black: #07070a;

$color-blue: #4a90e2;
$color-blue-dark: #32639D;

$color-green: #47B533;
$color-red: rgb(255, 0, 13)
