.getinvited {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	@include respond(tab-port-to-small) {
		grid-template-columns: 1fr;
	}

	@include respond(average-phone) {
		padding-top: 14.5rem;
	}

	&-loading {
		height: 100vh !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__header {
		height: 100%;
		width: 100%;
		display: inline-block;
		font-size: 8rem;
		margin-top: 2rem;
		padding-top: 3rem;
		padding-left: 1rem;
		background-color: $color-white;
		border-top-right-radius: 2rem;

		@include respond(tab-port-to-small) {
			height: auto;
			background-color: transparent;
			padding: 3rem 4rem 2rem 4rem;
		}

		@include respond(average-phone) {
			padding: 0 0 4rem 0;
		}
	}

	&__container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		@include respond(tab-port-to-small) {
			padding: 5rem 0;
		}

		&--block {
			width: 45rem;
			display: flex;
			flex-direction: column;
			padding: 0 5rem;

			@include respond(tab-port) {
				width: 60rem;
			}
		}

		&--header {
			font-size: 1.5rem;
			margin-bottom: 2.5rem;
			display: flex;
			justify-content: center;
			align-items: center;

			h2 {
				display: inline-block;
				@include respond(tab-port) {
					font-size: 3rem;
				}
				@include respond(large-phone) {
					font-size: 3rem;
				}
			}
		}

		&--form {
			margin-bottom: 4rem;
		}

		&--button {
			width: 100%;
			display: flex;
			justify-content: flex-end;
		}
	}

	&__form {
		height: min-content;
		width: 100%;

		&--legal {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&-subs {
			height: inherit;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			input {
				width: 100%;
			}

			@include respond(tab-port) {
				input {
					height: 6rem;
				}
			}

			@include respond(tab-port-to-small) {
				input {
					height: 8rem;
				}
			}

			@include respond(medium-phone) {
				input {
					height: 8rem;
				}
			}

			input:not(:last-child) {
				margin-bottom: 2.5rem;

				@include respond(tab-port-to-small) {
					margin-bottom: 3rem;
				}
			}
		}
	}

	&__error-message {
		text-align: center;
		margin-bottom: 3rem;
		color: $color-red;
		font-size: 1.5rem;
	}

	&__submit-btn {
		font-family: "Source Sans Light", sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		border: none;
		background-color: $color-blue;
		color: $color-white;
		padding: 1rem 3rem;
		font-size: 2rem;
		border-radius: 3rem;

		@include respond(tab-port-to-small) {
			font-size: 2.6rem;
			padding: 1rem 3rem;
			border-radius: 5rem;
		}
	}
}

.success-message {
	font-size: 3rem;
}
