.navbar-mobile {
  &--hamburger {
    position: fixed;
    right: 0;
    margin: 2rem;
    z-index: 1000;

    @include respond(average-phone) {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  }

  &__bg {
    &-show,
    &-hide {
      height: 10rem;
      width: 10rem;
      position: fixed;

      z-index: 996;
      border-radius: 50%;
      -webkit-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out;
      right: 2rem;
      top: 1rem;
      background-color: $color-blue;

      @include respond(average-phone) {
        top: 1.3rem;
        right: 2.5rem;
      }

      @include respond(small-phone) {
        top: 1.5rem;
        right: 2.8rem;
      }
    }

    &-show {
      -webkit-transform: scale(30);
      -ms-transform: scale(30);
      transform: scale(30);
    }

    &-hide {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }

  &__links {
    &-show,
    &-hide {
      z-index: 997;
      position: fixed;

      height: 100vh;
      width: 100vw;

      button {
        margin-top: 5rem;
        color: $color-blue;
        background-color: $color-white;
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
      }

      img {
        height: auto;
        width: 15rem;
        margin-bottom: 10rem;
      }

      ul {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        li {
          font-size: 3rem;
          margin: 2rem 0;
          -webkit-transition: all 100ms ease-out;
          -o-transition: all 100ms ease-out;
          transition: all 100ms ease-out;
          cursor: pointer;
          color: $color-white;

          a {
            font-size: 3rem;
            margin: 2rem 0;
            text-decoration: none;
            -webkit-transition: all 100ms ease-out;
            -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
            cursor: pointer;
            color: $color-white;
          }
        }
      }
    }

    &-show {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      opacity: 1;
      -webkit-transition: all 200ms 150ms ease-out;
      -o-transition: all 200ms 150ms ease-out;
      transition: all 200ms 150ms ease-out;
    }

    &-hide {
      display: none;
      opacity: 0;
    }
  }
}
