.navbar {
  position: fixed;
  z-index: 100;

  height: 7rem;
  width: 100vw;
  background-color: transparent;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;

  &--bg-black {
    background-color: rgba($color-black, 0.95);
  }

  img {
    height: auto;
    width: 3rem;
  }

  &--logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    h3 {
      font-size: 1.7rem;
      color: $color-white;
      margin-left: 1rem;
    }
  }

  &--links {
    color: $color-white;
    display: flex;
    flex-direction: row;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;

      li {
        font-size: 1.5rem;
        margin: 0 1rem;
        transition: all 100ms ease-out;
        cursor: pointer;
      }

      li:hover {
        font-weight: 600;
      }
    }
  }
}
