.picker-div {
	background-color: #ffffff;
	border: 0.4rem solid #ffffff !important;
	border-radius: 1.6rem;
	padding: 0.4rem;
	margin-left: 1.2rem;
	height: 5.2rem;
	width: 5.2rem;
	box-shadow: 0 0 0.5rem #c4c4c4;
	transition: all 200ms ease-out;

	@include respond(normal-desktop) {
		height: 7.25rem;
		width: 7.25rem;
	}

	@include respond(average-phone) {
		width: 6.2rem;
		height: 6.2rem;
	}

	&:hover {
		transform: scale(1.1);
	}
}

.picker_select {
	width: 100%;
	height: 100%;
	border-radius: 1.6rem;
	cursor: pointer;
}

.picker-div {
	border: 0;
}

.picker-div.selected {
	border: 0.4rem solid $color-blue !important;
	box-shadow: 0 0 5px $color-blue;
}

.info {
	margin: 1rem 0rem;
	& p {
		font-size: 1.5rem;
	}
}

//----

.color-picker {
	height: 5.2rem;
	width: 5.2rem;
	border: 0.4rem solid #ffffff !important;
	border-radius: 1.6rem;
	padding: 0.4rem;
	margin-left: 1.2rem;
	box-shadow: 0 0 0.5rem #c4c4c4;
	transition: all 200ms ease-out;
	cursor: pointer;

	@include respond(normal-desktop) {
		height: 7.25rem;
		width: 7.25rem;
	}

	@include respond(tab-land) {
		width: 6.2rem;
		height: 6.2rem;
		border-radius: 50%;
		margin-top: 1rem;
	}

	&:hover {
		transform: scale(1.1);
	}

	&:active {
		transform: scale(1);
	}
}

.texture-picker {
	height: 5.2rem;
	width: 5.2rem;
	border: 0.4rem solid #ffffff !important;
	border-radius: 1.6rem;
	padding: 0.1rem;
	margin-left: 1.2rem;
	box-shadow: 0 0 0.5rem #c4c4c4;
	transition: all 200ms ease-out;
	cursor: pointer;

	& img {
		width: 100%;
		height: 100%;
		cursor: pointer;
		border-radius: 1.1rem;
	}

	@include respond(normal-desktop) {
		height: 7.25rem;
		width: 7.25rem;
	}

	@include respond(tab-land) {
		width: 6.2rem;
		height: 6.2rem;
		border-radius: 50%;
		margin-top: 1rem;
	}

	&:hover {
		transform: scale(1.1);
	}

	&:active {
		transform: scale(1);
	}
}
