.picker-div {
	background-color: #ffffff;
	border: 1px solid #c4c4c4;
	border-radius: 16px;
	padding: 4px;
	margin-left: 12px;
	height: 48px;
	width: 48px;
	box-shadow: 0 0 5px #c4c4c4;
}

.picker_select {
	width: 100%;
	height: 100%;
	border-radius: 11px;
	cursor: pointer;
}

.picker-div {
	border: 0;
}

.picker-div.selected {
	border: 1px solid $color-blue;
	box-shadow: 0 0 5px $color-blue;
}

.info {
	margin: 1rem 0rem;
	& p {
		font-size: 1.5rem;
	}
}
